<% title 'Wiki' %>

<ul>
  <% if signed_in? %>
    <li>Welcome <%= current_user.email %>.</li>
    <li><%= link_to 'Log Out', sign_out_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Log In', sign_in_path %></li>
  <% end %>
</ul>
